<h1 class='text-center'>Todo list</h1>
<form ng-submit='vm.addTask(vm.newTask, vm.dueTime)' name='todoForm'>
	<div class='form-group'>
		<label>What do you need to do?</label>
		<input type='text' class='form-control' name='newTask' ng-model='vm.newTask' required>
	</div>
	<button class='btn btn-primary'>Add</button>
</form>
<div ng-hide='vm.tasks.length == 0'>
	<h2 class='text-center'>Tasks to do</h2>
	<div ng-repeat='task in vm.tasks'>
		<div class='row'>
			<div class='col-sm-2'>
				<button class='btn btn-success btn-sm' ng-click='vm.completeTask(task)'>Complete</button>
			</div>
			<div class='col-sm-2'>
				<button class='btn btn-warning btn-sm' ng-click='vm.editTask(task)' ng-hide="task.edit">Edit</button>
				<button class='btn btn-warning btn-sm' ng-click='vm.updateTask(task)' ng-show=task.edit>Save</button>
			</div>
			<div class='col-sm-5'>
				<span ng-hide="task.edit"><span class='glyphicon glyphicon-remove'></span> {{task.task}}</span>
				<input ng-show="task.edit" type='text' class='form-control' name='' ng-model='task.task' >
			</div>
		</div>
	</div>
</div>
